<% if logged_in? %>
	<% provide(:title, "Campground - #{current_user.name}'s Campsite") %>
	<h2>My campsite </h2>	
<% else %>
	<% provide(:title, "Campground") %>
	<h2>Welcome to Campground</h2>
	<h4>Updates</h4>
	<%#= render 'shared/select_trail', { option: "get_updates" } %>	
	<%= render layout: 'shared/select_trail' do %>
		<%= link_to "Get updates", "#", remote: true, id: "get_updates_button" %>
	<% end %>
	<div id = 'home_trail_updates'>
	</div>
<% end %>	

