<% if logged_in? %>
	<% provide(:title, "Campground - #{current_user.name}'s Campsite") %>
	<h2>My campsite </h2>
	
	<% if @updates.any? %>	
		<%= render_update_partial(@updates, true) %>
	<% else %>
		<span class="update_content">
			No updates for favorite trails
		</span>
	<% end %>
<% else %>
	<% provide(:title, "Campground") %>
	<h2>Welcome to Campground</h2>
	
	<h4>Updates</h4>
	<%= render layout: 'shared/select_trail' do %>
		<%= link_to "Get updates", "#", id: "get_updates_button" %>
	<% end %>
	<div id = 'home_trail_updates'>
	</div>
<% end %>	

