<% if logged_in? %>
	<% provide(:title, "Campground - #{current_user.name}'s Campsite") %>
	<h2>My campsite </h2>	
<% else %>
	<% provide(:title, "Campground") %>
	<h2>Welcome to Campground</h2>
	<%= render :partial => 'shared/select_trail' %>	
<% end %>	
