<% provide(:title, "Campground - #{current_user.name}'s Diary") %>
<h2>My Logs</h2>

<div id="corner_log_log_date" class="hidden"></div>
<div id="date_picker"></div>

<div id="selected_log">
	<%= render 'log', { log: @log } unless @log.nil? %>
</div>
