<% if logged_in? %>
	<span class="update_trail">
		<%= update.trail.name %>
	</span>
<% end %>
<span class="update_content">
	<%= wrap(update.content) %>
</span>
<span class="update_time">
	Posted <%= time_ago_in_words(update.created_at) %> ago
</span>
<span class="update_author">
	<% if logged_in? %>
		by <%= update.author.login_id %>
	<% end %>
</span>
