<div id="user_community">	
	
	<div class="title_board">
		<div class="title_text">
			Updates							
		</div>
	</div>
	<div class="title_board">
		<div class="title_text">
			Updates
		</div>
	</div>
	<div class="title_board inactive">
		<div class="title_text">
			Updates
		</div>
	</div>
</div>
