<div id="user_community">	
	<% div_name = div_for_side_panes %>
	<%= content_tag(:div, content_tag(:div, "Updates", class: "title_text"), class: div_name )%>
	<%= content_tag(:div, content_tag(:div, "Company", class: "title_text"), class: div_name )%>
	<%= content_tag(:div, content_tag(:div, "Bazaar", class: "title_text"), class: div_name )%>
	<!-- <div class="title_board">
		<div class="title_text">
			Bazaar
		</div>
	</div> -->
</div>
